root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.{cs,ts,tsx,json,js,jsx}]
end_of_line = crlf

[*.cs]
indent_size = 4

[*.{xml,config,*proj,nuspec,props,resx,targets,yml,tasks,css}]
indent_size = 2

[*.{ts,tsx,json,js,jsx}]
indent_size = 2

[*.sln]
indent_style = tab

[*.csproj]
indent_size = 4

[*.md]
max_line_length = 80
