<RuleSet Name="Stylecop" ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <!-- Do not require `this.` (personal preference) -->
        <Rule Id="SA1101" Action="None" />
        <Rule Id="SX1101" Action="Warning" />

        <!-- We explicitly want field names to start with an underscore. (personal preference) -->
        <Rule Id="SA1309" Action="None" />
        <Rule Id="SX1309" Action="Warning" />

        <!-- Do not add headers to each file. -->
        <Rule Id="SA1633" Action="None" />
    </Rules>
</RuleSet>
